html
{
    scroll-behavior: smooth;
}

.topnav
{
    overflow:hidden;
    background-color:#000000;
}
.topnav h2
{
    position:absolute;
    left:40px;
    float:left;
    margin:0;
    font-family: 'Permanent Marker', cursive;
    color:#5094e2;
}
.topnav a
{
    float:right;
    color:#FFFFFF;
    text-align: center;
    padding:14px 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.topnav a:hover
{
  
    background:#f3de6a;
    color:black;
}
/* .topnav a.active
{
    
    background:#f3de6a;
    color:white;
} */

.design
{
    width:100%;
    background-image: url("mountains.jpg"); 
    background-size:cover;
    height:100vh;
    position:relative;
    background-position: right;
}
.intro
{
    color:white;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
 .intro h1
{
    margin-top:0;
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    word-spacing: 1px;
} 
.intro p
{
    text-align: center;
   font-family: "poppins", sans-serif; 
    letter-spacing: 1px;
    color:#f3de6a;
    font-size: 20px;
}
.intro a
{
    color:white;
    text-align: center;
    text-decoration: none;
    border:2px solid #FFFFFF;
    padding:20px 25px;
    position:fixed;
    left:38%;
    font-weight: bold;
}
.intro a:hover
{
    border:2px solid #f3de6a;
}

/* Media Queries 
-----------------------------*/
@media (max-width:468px)
{
    .intro a
    {
        left: 30%;
        padding: 15px 30px;
    }
    .intro p
    {
        width: 400px;
        height: 20px;
        font-size: 15px;
    }
    .intro h1
    {
        position: relative;
        left: 8%;
        font-size: 40px;
    }
    .topnav a
    {
        padding:14px 10px;
    }
    .topnav h2
    {
    left: 20px;
    margin-top: 5px;
    }
}
